@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-darkblue: #033979;
    --color-mediumblue: 'rgba(61, 186, 234, 0.51)';
    --font-montserrat: Montserrat;
    --font-inter: Inter;
    --font-roboto: Roboto;
}

@layer components {
    .input {
        @apply font-roboto rounded-md border border-gray-300 p-1 mb-2 px-14 bg-white w-full justify-center text-center;

    }

    .button {
        @apply flex mt-5;
    }

    .main {
        @apply flex flex-col items-center w-full min-h-screen;
    }

    .form {
        @apply flex flex-col gap-1 justify-center items-center;
    }

    .label {
        @apply font-roboto block text-black text-xl font-bold text-center
    }
}