@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Inter:wght@400;600&display=swap');



@import "tailwindcss";

@theme {
    --color-darkblue: #033979;
    --color-mediumblue: #088DC0;
    --color-bgbottonblue: #3DBAEA;
    --color-lightblue: #C9E1EB;
    --color-bluee: #2c3e50;
    --color-purpu: #B99AC7;
    --color-purpubold: #7E4299;
    --color-redmedium: #FF5F6F;
    --font-montserrat: Montserrat;
    --font-chewy: Chewy;
    --font-happymonkey: 'Happy Monkey';
    --font-familjen: 'Familjen Grotesk';
}

@layer components {
    .input {
        @apply font-montserrat rounded-md border border-lightblue p-1 mb-2 px-14 bg-lightblue w-full justify-center text-center text-darkblue font-normal;

    }

    .button {
        @apply flex mt-5;
    }

    .main {
        @apply flex flex-col items-center w-full min-h-screen;
    }

    .form {
        @apply flex flex-col gap-1 justify-center items-center;
    }

    .label {
        @apply font-montserrat font-semibold block text-lg text-center text-darkblue;
    }
}