.Home {
    margin: 0 10px;
}

.Home-header {
    display: flex;
    align-items: left;
    justify-content: space-between;
    font-size: 20px;
    top: 8px;
    /* width: 100vw; */
    left: 2;

}

.Home-title {
    margin: 0;
}

.Home-name {
    font-size: 20px;



}

.Home-content {
    margin-bottom: 36px;
}

.Home-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 36px;

}