@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import "tailwindcss";


@theme {
    --font-audiowide: Audiowide;
    --color-white: white;
    --color-darkbluey: rgb(26, 43, 87);
    --color-blue: #AEF8DB;
    --color-bluelight: rgb(129, 255, 205);

}

@layer components {
    .main {
        @apply my-0 mx-2;
    }

    .form {
        @apply flex flex-col gap-1
    }

    .input {
        @apply border-1 border-bluelight bg-amber-50 text-darkbluey
    }

    .button {
        @apply bg-darkbluey text-bluelight px-1 cursor-pointer
    }
}